__pycache__/
*.py[oc]
*.egg-info/
build/
dist/
wheels/
.venv/
.mypy_cache/
.pytest_cache/
htmlcov/
.coverage
ankidata/
src/manifest.json
src/meta.json
src/forms/
src/user_files/*/
src/bin/
src/web/sveltekit/
src/web/build/
src/proto/
vendor/
node_modules/
TODO.md
